.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
node_modules
coverage
.next
.turbo
out
next-env.d.ts
dist
.DS_Store
*.pem
tsconfig.tsbuildinfo
*.log
.pnpm-debug.log*
.env*
!.env.example
.npmrc
